.section {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 769px) {
  .section {
    max-height: 1200px;
    overflow-y: auto;
  }
}
