* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container.dark {
  background-color: #23272f;
}

.container.light {
  background-color: white;
}

.container.dark p,
.container.dark h1,
.container.dark h3,
.container.dark h4 {
  color: white;
}

.container.light p,
.container.light h1,
.container.light h3 {
  color: #23272f;
}
